@import url("https://use.typekit.net/apu1vra.css");

body {
  background-color: #e3e2dc;
  font-family: "basic-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,h3 {
  color: #003D5B;
  font-family: "rig-solid-bold-reverse", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Restaurant Name */
.periodic-tables {
  font-family: "rig-solid-bold-fill", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Navigation */
.side-bar {
  background-color: #003D5B;
  min-width: 200px;
  padding-bottom: 10px;
}

/* Buttons */
.btn {
  margin: 5px;
}

.btn-warning {
  background-color: #EDAE49;
  border-color: #EDAE49;
  color: #003D5B;

}

.btn-secondary {
  background-color: #003D5B;
  border-color: #003D5B;
  color: #e3e2dc;
}

.btn-secondary:hover {
  background-color: #204152;
  border-color: #204152;
  color: #e3e2dc;
}

/* Cards */
.reservation {
  background-color: #e6e5df;
  text-align: center;
  border: 2px solid #003D5B;
  border-radius: 10px;
}

.table {
  background-color: #e6e5df;
  text-align: center;
  border: 2px solid #003D5B;
  border-radius: 10px;
}

/* Colors based off of status of table */
.status-free {
  color: #308c0e;
}

.status-occupied {
  color: #c21206;
}

/* Browser */
@media only screen and (min-width: 768px) {

  /* Navigation */
  .side-bar {
    background-color: #003D5B;
    min-width: 250px;
    height: 100dvh;
    text-align: center;
  }

}