body {
    background-color: #e8ebeb;
}

.btn-warning {
    background-color: #EDAE49;
    border-color: #EDAE49;
    color: #003D5B;
    margin: 5px;
}

.btn-secondary {
    background-color: #003D5B;
    border-color: #003D5B;
    color: #f4f1de;
    margin: 5px;
}

.navbar {
    background-color: #003D5B;
}

.side-bar {
    background-color: #003D5B;
}

.reservation {
    background-color: #f7f5f0;
}

/*
- change navbar title font color
- change background color for reservation cards
- change background color for table cards
- make navbar go ALL the way to bottom without any margin, regardless of page
- pick a font for headings
- pick a font for regular text



*/